@* --- THIS IS A PARTIAL VIEW --- *@
@* It is a small chunk of HTML that doesn't have its own Controller. 
   It is meant to be reused in many different pages. *@

<div class="card bg-light p-3">
    <h5>💡 Quick Voting Tips:</h5>
    <ul>
        <li>Bring your Student ID card.</li>
        <li>Check your local booth timing.</li>
        <li>One person, one vote!</li>
    </ul>
</div>
